$colorscheme_red: #EBB9B9;
$colorscheme_yellow: #E6DFB8;
$colorscheme_yellow_dimmed: #E8CCA7;
$colorscheme_cyan: #B8DEEB;
$colorscheme_green: #B1DBA4;
$colorscheme_orange: #EAC1C1;
$colorscheme_magenta: #F6BBE7;
$colorscheme_black: #20202A;
$colorscheme_crust: #232634;
$colorscheme_base: #303446;
$colorscheme_white: #CDDBF9;
