* {
    all: unset; // Global reset
}

.background {
    background-color: #122125;
    border-style: solid;
    border-width: 3px;
    border-color: #1f2833;
    border-radius: 10px;
}

.notification {
    all: unset;
    background-color: red;
    min-height: 750px;
    min-width: 30px;
    .content {
        all: unset;
        background-color: black;
        min-height: 300px;
        min-width: 0px;
    }
}

.overview {
    background-color: blue;
}

.options {
    all: unset;
    background-color: pink;
    min-height: 150px;
    min-width: 30px;
}

.main {
    all: unset;
    margin: 0px;
    padding: 0px;
}
