@import "./_mixins.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: 700;
  font-size: 14px;
  color: $colors_text;
}

/* --------------------------------------- Common Styles -------------------------------------- */

/* Style for module */
.module {
  @include widget();
}

/* Make the bar transparent */
.bar {
  background: transparent;
}

.time {
  color: $colors_mauve;
}

.clock-icon {
  font-size: 16px;
}

.date {
  color: $colors_lavender;
}

button {
  all: unset;
  background: $colors_base;
}

.workspace_btn {
  all: unset;
  background: $colors_base;
  padding: 1px;
}

.workspace_label {
  color: $colors_surface2;
}

.window_title_label {
  color: $colors_subtext0;
}

.reveal-only {
  all: unset;
  margin-left: -4px;
}

.volume-icon {
  font-size: 18px;
  color: $colors_teal;
}

.volume-value {
  color: $colors_teal;
  margin-left: 5px;
}

scale trough {
  all: unset;
  background-color: $colors_base;
  border-radius: 5px;
  min-width: 75px;
  min-height: 10px;
  margin: .3rem 0 .3rem 2px;
}

.volbar trough highlight {
  background-color: $colors_teal;
  border-color: $colors_base;
  border-radius: 5px;
}

slider {
  all: unset;
}
